@model IEnumerable<Hotel>

<h2>Hoteller</h2>
<a href="/Hotel/Create" class="btn btn-primary">Hotel Ekle</a>
<hr>

<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width: 150px;">@Html.DisplayNameFor(m => m.hotel_name)</th>
            <th>@Html.DisplayNameFor(m => m.hotel_image)</th>
            <th>@Html.DisplayNameFor(m => m.hotel_description)</th>
            <th>@Html.DisplayNameFor(m => m.hotel_price)</th>
            <th>Özellikler</th> <!-- Yeni Sütun -->
            <th style="width: 150px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.hotel_name)</td>
                <td>
                    <img src="~/img/@item.hotel_image" alt="Hotel Resmi" style="max-width:200px; max-height:200px;" />
                </td>
                <td>@Html.DisplayFor(modelItem => item.hotel_description)</td>
                <td>@Html.DisplayFor(modelItem => item.hotel_price)</td>
                <td>
                    @if (item.features != null && item.features.Any())
                    {
                        <ul>
                            @foreach (var feature in item.features)
                            {
                                <li>@feature.feature_name</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span>Özellik yok</span>
                    }
                </td>
                <td>
                    <a asp-controller="Hotel" asp-action="Edit" asp-route-id="@item.hotel_id" class="btn btn-sm btn-primary">Edit</a>
                    <a asp-controller="Hotel" asp-action="Delete" asp-route-id="@item.hotel_id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
