@model IEnumerable<Feature>
<h2>Özellikler</h2> 
<a href="/Feature/Create" class="btn btn-primary">Özellik Ekle</a> 
<hr> 
<table class="table table-bordered">


	<thead>
		<tr>
			<th style ="width: 150px;">@Html.DisplayNameFor(m => m.feature_id)</th>
			<th>@Html.DisplayNameFor(m => m.feature_name)</th>
@* 			<th>@Html.DisplayNameFor(m => m.feature_image)</th> *@
			<th style="width: 150px;"></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@Html.DisplayFor(modelItem => item.feature_id)</td>
				<td>@Html.DisplayFor(modelItem => item.feature_name)</td>
@* 				<td>@Html.DisplayFor(modelItem => item.feature_image)</td> *@
				<td>
					<a asp-controller="Feature" asp-action="Edit" asp-route-id="@item.feature_id" class="btn btn-sm btn-primary">Edit</a>
					<a asp-controller="Feature" asp-action="Delete" asp-route-id="@item.feature_id" class="btn btn-sm btn-danger">Delete</a>
				</td>
			</tr>

		}

	</tbody>
</table>


@section Scripts{

	<script>
		function confirmDelete(feature_name){
			return confirm(feature_name +"isimli özelliği silmek ister misiniz?");
		}
	</script>

}
