@model IEnumerable<Room>
<h2>Odalar</h2> 
<a href="/Room/Create" class="btn btn-primary">Oda Ekle</a> 
<hr> 
<table class="table table-bordered">


	<thead>
		<tr>
			<th style ="width: 150px;">@Html.DisplayNameFor(m => m.room_id)</th>
			<th>@Html.DisplayNameFor(m => m.room_name)</th>
			<th>@Html.DisplayNameFor(m => m.room_price)</th>
			<th>@Html.DisplayNameFor(m => m.room_quantity)</th>
			<th>@Html.DisplayNameFor(m => m.room_max_people)</th>
			<th>@Html.DisplayNameFor(m => m.room_capacity)</th>
			<th>@Html.DisplayNameFor(m => m.room_image)</th>
			<th>@Html.DisplayNameFor(m => m.hotel_id)</th>
			<th style="width: 150px;"></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@Html.DisplayFor(modelItem => item.room_id)</td>
				<td>@Html.DisplayFor(modelItem => item.room_name)</td>
				<td>@Html.DisplayFor(modelItem => item.room_price)</td>
				<td>@Html.DisplayFor(modelItem => item.room_quantity)</td>
				<td>@Html.DisplayFor(modelItem => item.room_max_people)</td>
				<td>@Html.DisplayFor(modelItem => item.room_capacity)</td>
				<td>
					@if (!string.IsNullOrEmpty(item.room_image))
					{
						<img src="@Url.Content("~/img/room/" + item.room_image)" alt="Oda Resmi" style="width:100px; height:auto;" />

					}
				</td>

				<td>@Html.DisplayFor(modelItem => item.hotel_id)</td>
				<td>
					<a asp-controller="Room" asp-action="Edit" asp-route-id="@item.room_id" class="btn btn-sm btn-primary">Edit</a>
					<form method="post" asp-controller="Room" asp-action="Delete"
						  style="display:inline" onsubmit="return confirmDelete('@item.room_name');">
						<input type="hidden" name="id" value="@item.room_id" />
						<button type="submit" class="btn btn-sm btn-danger">Delete</button>
					</form>
				</td>
			</tr>

		}

	</tbody>
</table>


@section Scripts{

	<script>
		function confirmDelete(room_name){
			return confirm(room_name +"isimli odayı silmek ister misiniz?");
		}
	</script>

}
