@model IEnumerable<Reservation>
<h2>Rezervasyonlar</h2>
<a href="/Admin/ReservationCreate" class="btn btn-primary">Rezervasyon Ekle</a>
<hr>
<table class="table table-bordered">


	<thead>
		<tr>
			<th style="width: 150px;">@Html.DisplayNameFor(m => m.reservation_id)</th>
			<th>@Html.DisplayNameFor(m => m.start_date)</th>
			<th>@Html.DisplayNameFor(m => m.end_date)</th>
			<th>@Html.DisplayNameFor(m => m.client_id)</th>
			<th>@Html.DisplayNameFor(m => m.room_id)</th>
			<th style="width: 150px;"></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@Html.DisplayFor(modelItem => item.reservation_id)</td>
				<td>@Html.DisplayFor(modelItem => item.start_date)</td>
				<td>@Html.DisplayFor(modelItem => item.end_date)</td>
				<td>@Html.DisplayFor(modelItem => item.client_id)</td>
				<td>@Html.DisplayFor(modelItem => item.room_id)</td>
				<td>
					<a asp-controller="Admin" asp-action="ReservationEdit" asp-route-id="@item.reservation_id" class="btn btn-sm btn-primary">Düzenle</a>
					<form method="post" asp-controller="Admin" asp-action="ReservationDelete"
						  style="display:inline" onsubmit="return confirmDelete('@item.client_id');">
						<input type="hidden" name="id" value="@item.reservation_id" />
						<button type="submit" class="btn btn-sm btn-danger">Sil</button>
					</form>
				</td>
			</tr>

		}

	</tbody>
</table>


@section Scripts{

	<script>
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
		function confirmDelete(client_name){
			return confirm(client_name +" numaralı kullanıcının rezervasyonunu silmek ister misiniz?");
		}
	</script>

}
