@model IEnumerable<Hotel>
<h2>Hoteller</h2> @* hotel başlığı *@
<a href="/Hotel/Create" class="btn btn-primary">Hotel Ekle</a> 
<hr> @*çizgi*@
	<table class="table table-bordered"> @*karelere bölünmüş tablo görünümü için gerekli class*@
	
		<thead>
			<tr>
			<th style="width: 150px;">@Html.DisplayNameFor(m => m.hotel_name)</th>  @*Sütunlar | Hotel ad*@
			<th>@Html.DisplayNameFor(m => m.hotel_image)</th>
			<th >@Html.DisplayNameFor(m => m.hotel_description)</th>
			<th>@Html.DisplayNameFor(m => m.hotel_price)</th>
			<th style ="width: 150px;"></th>
			</tr>
		</thead>
		<tbody>
		@foreach (var item in Model) @*var hotel in Model*@
		{
			<tr>
				<td>@Html.DisplayFor(modelItem => item.hotel_name)</td>  
				<td>
				<img src="~/img/@item.hotel_image" alt="Hotel Resmi" style="max-width:200px; max-height:200px;" />
				</td>
				@*Satırlar*@
				<td>@Html.DisplayFor(modelItem => item.hotel_description)</td>
				<td>@Html.DisplayFor(modelItem => item.hotel_price)</td>
				<td> 
					<a asp-controller="Hotel" asp-action="Edit" asp-route-id="@item.hotel_id" class="btn btn-sm btn-primary">Edit</a>
					<form method="post" asp-controller="Hotel" asp-action="Delete"
					style="display:inline" onsubmit="return confirmDelete('@item.hotel_name');">
					<input type="hidden" name="id" value="@item.hotel_id"/>
					<button type="submit" class="btn btn-sm btn-danger">Delete</button> 
					</form>
				</td>	
			</tr>
		}
		</tbody>
	</table>

	@section Scripts{

		<script>
			function confirmDelete(hotel_name){
				return confirm(hotel_name +"isimli kullanıcıyı silmek ister misiniz?");
			}
	</script>

	}
